<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--Cualquier otro Meta debe de ir DEBAJO de estos-->
    <title> Registro </title>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Personalizado -->
    <link href="css/views/registro.css" rel="stylesheet">
    <link href="css/views/index.css" rel="stylesheet">
  </head>
  <body>

   <!-- NavBar -->
      <div class="navbar navbar-fixed-top" id="barraDeNavegacion">
        <div class="container">
          <div class="navbar-header">
            <p class="navbar-brand glyphicon glyphicon-ice-lolly-tasted" id="marcaNavbar">
              GoFood
            </p>
            <p class="navbar-text" id="textoNavbar">
              Cafeterias Inteligentes
            </p>

          </div>
        </div>
      </div>
    <!-- Formulario -->

  <div id="contenedorRegistro" class="panel panel-default">
     <div class="panel-heading">
     <h1>Registro</h1>
     </div>
      <div class="panel-body">
          <form>
      <div class="form-group">
        <label for="Nombre">Nombre</label>
        <input type="text" class="form-control" id="Nombre" placeholder="Nombre">
      </div>
      <div class="form-group">
        <label for="apePaterno">Apellido Paterno</label>
        <input type="text" class="form-control" id="apePaterno" placeholder="Apellido Paterno">
      </div>

      <div class="form-group">
        <label for="apeMaterno">Apellido Materno</label>
        <input type="text" class="form-control" id="apeMaterno" placeholder="Apellido Materno">
      </div>

      <div class="form-group">
        <label for="Email">Email address</label>
        <input type="email" class="form-control" id="Email" placeholder="Email">
      </div>

      <div class="form-group">
        <label for="usuario">Usuario</label>
        <input type="text" class="form-control" id="usuario" placeholder="Usuario">
      </div>

      <div class="form-group">
        <label for="Password">Password</label>
        <input type="password" class="form-control" id="Password" placeholder="Password">
      </div>

      <div class="form-group">
        <label for="confirmarPassword">Confirmar Password</label>
        <input type="password" class="form-control" id="confirmarPassword" placeholder="Confirmar Password">
      </div>

      <input id="registro" type="submit" value="Registrarse" class="btn btn-primary">
      <a id="login" class="btn btn-primary" href="#" role="button">Login</a>
    </form>


      </div>



  </div>
    
    

    <!-- Sección de JS -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="js/calculator.js"></script>
  </body>
</html>


